body {
	font: sans-serif;
	font-family: sans-serif;
	background-color: #f5f5f5;
}

ul#products {
	list-style-type: none;
}

ul#products li {
	float: left;
	width: 100px;
	border: 1px solid #ccc;
	background: #dbf3ff;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
}

label {
	width: 170px;
	display: inline-block;
}